@{
    Layout = "Admin/_Layout";
    ViewData["Title"] = "Dettaglio Prodotto";
}
@model Pizza
@if(Model == null)
{
    @ViewBag["Message"];
}
<div class="container">
    <div class="d-flex my-5 gap-3 align-items-center justify-content-start">
        <a href="/" class=" back"> < </a>
        <h2 class="m-0">@Model.Name</h2>
    </div>
    
    <div class="row row-cols-2 justify-content-between align-items-center">
        <div>
            <img src="@Model.Image" class="img-fluid" />
            <div class="d-flex aling-items-center gap-5 mt-5 justify-content-between">
                <div class="infoCard fs-3 fw-bold">Numeri ordini</div>
                <div class="infoCard fs-3 fw-bold">Votazione</div>
                <div class="infoCard fs-3 fw-bold">@Model.Price €</div>
            </div>
        </div>
        <p class="text-center"><em>@Model.Description</em></p>
    </div>

</div>